In [ ]:
import pandas as pd
import statsmodels.api as sm

df = pd.read_csv("homework_3.1.csv")
t0 = 50  # you can manually set this or infer from context
df['event'] = (df['time'] >= t0).astype(int)
df['time_centered'] = df['time'] - t0
df['interaction'] = df['time_centered'] * df['event']

X = sm.add_constant(df[['event', 'time_centered', 'interaction']])
y = df['Y']
model = sm.OLS(y, X).fit()
print(model.summary())

In [3]:
df.head()

,Unnamed: 0,time,value1,value2,value3,event,time_centered,interaction
0,0,0,1.764052,1.883151,-0.369182,0,-50,0
1,1,1,0.420157,-1.327759,-0.219379,0,-49,0
2,2,2,1.018738,-1.230485,1.139660,0,-48,0
3,3,3,2.300893,1.029397,0.715264,0,-47,0
4,4,4,1.947558,-1.093123,0.720132,0,-46,0